In [1]:
# Set
# -No indexing
# -No duplicate data
# -UnOrdered
# -Mutable

In [2]:
s = {1,2,3,4}
a = {'Apple',"Ball","Cat","Dog"}
print(a)
print(s)

{'Cat', 'Apple', 'Dog', 'Ball'}
{1, 2, 3, 4}

In [3]:
a = {'Apple',"Ball","Cat","Dog"}
a[0]

TypeError: 'set' object is not subscriptable

In [4]:
a = {'Apple',"Ball","Cat","Dog","Dog","Apple"}
a

{'Apple', 'Ball', 'Cat', 'Dog'}

In [6]:
a = {'Apple', 'Ball', 'Cat', 'Dog'}
a.add('apple')
print(a)

{'Apple', 'apple', 'Ball', 'Dog', 'Cat'}

In [7]:
a = {'Apple', 'Ball', 'Cat', 'Dog'}
a.remove('Apple')
a

{'Ball', 'Cat', 'Dog'}

In [9]:
l = [1,2,3,4,5,1,2,3,4,2,4,4,2,4]
list(set(l))

[1, 2, 3, 4, 5]

In [10]:
s = {'Ball', 'Cat', 'Dog',[1,2,3,4]}  #list is mutable
s

TypeError: unhashable type: 'list'

In [11]:
s = {'Ball', 'Cat', 'Dog',(1,2,3,4)}
s

{(1, 2, 3, 4), 'Ball', 'Cat', 'Dog'}

In [12]:
s = {'Ball', 'Cat', 'Dog',{1,2,3,4}}
s

TypeError: unhashable type: 'set'

In [16]:
s = {1:1}
type(s)

dict

In [ ]:
s = set()

In [21]:
U = {'abc','xyz','Bill', 'Ram', 'Nita', 'Nabina', 'Rocky', 'John', 'Shyam', 'Suman', 'Satya', 'Steaves', 'Sita'}
ms = {'Ram','Shyam','Satya','Bill','John','Suman','Rocky'}
apple = {'Steaves','Ram','Suman','Sita','Nita','Nabina'}

print(ms.intersection(apple))

{'Suman', 'Ram'}

In [18]:
print(apple.union(ms))

{'Bill', 'Ram', 'Nita', 'Nabina', 'Rocky', 'John', 'Shyam', 'Suman', 'Satya', 'Steaves', 'Sita'}

In [19]:
ms - apple

{'Bill', 'John', 'Rocky', 'Satya', 'Shyam'}

In [ ]:
apple -ms

In [22]:
# unemployed
U - (apple.union(ms))

{'abc', 'xyz'}

In [23]:
# dict and tuple

In [ ]:
d = {'Ram': ('9845778765', '9808778765'),
 'Shyam': ('9845778765', '9808667654'),
 'Hari': ('9845667654', '9808778765')}

In [25]:
d = {('Ram','Sita'):'014435556','Shyam':'9808667654'}
d[('Ram','Sita')]

'014435556'